<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <!-- VENDOR SOURCE SCRIPTS -->


    <!-- VENDOR LINKS -->


    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../styles/normalize.css">
    <link rel='stylesheet' href='../styles/main.css'>
    <link rel='stylesheet' href='../styles/menu.css'>

    <title>Asian Hon</title>
  </head>


  <body>
    <!-- START .header -->
    <div class='header'>

      <!-- START .title -->
      <div class='title'>
        <a href='index.html'><h1>Asian Hon</h1></a>
      </div>
      <!-- END .title -->

      <!-- START .nav-wrapper -->
      <div class='nav-wrapper'>
        <!-- START .nav-top -->
        <div class='nav-top'>
          <ul>
            <li><a href='../../index.html'>Home</a></li>
            <li><a href='#'>Pick-up/Dine-in Menu</a></li>
            <li>Delivery Menu</li>
            <li><a href='#'>Catering</a></li>
            <li><a href='#'>Contact</a></li>
          </ul>
        </div>
        <!-- END .nav-top -->
      </div>
      <!-- END .nav-warpper -->

    </div>
    <!-- END .header -->

    <div class='content menu'>
      <h2>Delivery Menu</h2>
      <h4>Delivery Subject to Availability and following Restrictions:</h4>
      <ul>
        <li>Minimum of $20 order, and;</li>
        <li>Only within Shakopee, and</li>
        <li>Within 2-mile radius of restaurant.</li>
      </ul>
      <!-- START .beverages -->
      <div class='beverages'>
        <h3>Beverages</h3>
        <p>All beverages for delivery orders are soft drinks in 20 fl. oz. bottles.<br>The following are the beverages available for delivery:</p>
        <ul>
          <li>Pepsi</li>
          <li>Diet Pepsi</li>
          <li>Mountain Dew</li>
          <li>Dr. Pepper</li>
          <li>Mist Twist</li>
          <li>Orange Crush</li>
          <li>Lemon Iced Tea</li>
          <li>Lemonade</li>
        </ul>
      </div>
      <!-- END .beverages -->

<!-- START .menu -->
<div class='menu'>
  <!-- START table .appetizers -->
  <table class='appetizers'>
    <thead>
      <tr>
        <th><h3>Appetizers</h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class='menu-item'>Chicken Nuggets (10)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$3.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Cream Cheese Wontons (6)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$3.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Egg Rolls (2)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$3.95</td>
      </tr>
      <tr>
        <td class='menu-item'>French Fries</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$3.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Fried Onion Rings</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$3.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Fried Spring Rolls (2)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$3.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Fried Sweet Doughnuts (10)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$3.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Fried Scallops (8)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$4.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Fried Shrimp (6)</td>
        <td class='price-pt'> </td>
        <td class='price-qt'>$4.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Fried Tofu</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$4.95</td>
      </tr>
      <tr>
        <td class='menu-item'>BBQ Pork</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$5.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Chicken Wings (6)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$5.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Fried Dumplings (6)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$5.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Steamed Dumplings (6)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$5.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Teriyaki Chicken Wings (6)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$5.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Teriyaki Beef (4)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$6.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Teriyaki Chicken (4)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$6.95</td>
      </tr>
    </tbody>
  </table>
  <!-- END table .appetizers -->

  <!-- START table .fried-rice -->
  <table class='fried-rice'>
    <thead>
      <tr>
        <th>Fried Rice</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Vegetable</td>
        <td class='price-pt'>$3.95</td>
        <td class='price-qt'>$7.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Chicken</td>
        <td class='price-pt'>$4.95</td>
        <td class='price-qt'>$8.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Roast Pork</td>
        <td class='price-pt'>$4.95</td>
        <td class='price-qt'>$8.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Beef</td>
        <td class='price-pt'>$5.95</td>
        <td class='price-qt'>$9.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Shrimp</td>
        <td class='price-pt'>$5.95</td>
        <td class='price-qt'>$9.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>House with Chicken, Roast Pork and Shrimp</td>
        <td class='price-pt'>$5.95</td>
        <td class='price-qt'>$10.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Thai Pineapple with Chicken and Shrimp</td>
        <td class='price-pt'>$5.95</td>
        <td class='price-qt'>$10.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'></td>
        <td class='price-pt'></td>
        <td class='price-qt'></td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'></td>
        <td class='price-pt'></td>
        <td class='price-qt'></td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'></td>
        <td class='price-pt'></td>
        <td class='price-qt'></td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'></td>
        <td class='price-pt'></td>
        <td class='price-qt'></td>
      </tr>
    </tbody>
  </table>
  <!-- END table .fried-rice -->

  <!-- START table .lo-mein -->
  <table class='lo-mein'>
    <thead>
      <tr class='tbl-title'>
        <th class='tbl-category'>Lo Mein</th>
      </tr>
      <tr class='tbl-description'>
        <td class='category-description'>Lo Mein style is made with soft noodles.</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Plain</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$6.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Vegetable</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$7.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Chicken</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$8.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Roast Pork</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$8.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Beef</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$9.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Shrimp</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$10.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>House with Chicken, Roast Pork and Shrimp</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$10.95</td>
      </tr>
      <tr>
        <td class='item-description'>with Chicken, Roast Pork and Shrimp</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'></td>
        <td class='price-pt'></td>
        <td class='price-qt'></td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'></td>
        <td class='price-pt'></td>
        <td class='price-qt'></td>
      </tr>
    </tbody>
  </table>
  <!-- END table .lo-mein -->

</div>


House (with Chicken, Roast Pork and Shrimp)	10.95 (Chef's Recommendation)
Seafood (with Shrimp, Crab Meat and Squid	12.95
Mai Fun
Mai Fun style is made with thin rice noodle
Vegetable	7.95
Chicken	8.95
Roast Pork	8.95
Beef	9.95
Shrimp	10.95
Singapore (with Pork and Shrimp	10.95 (Chef's Recommendation)
House (with Chicken, Roast Pork and Shrimp	11.95
Seafood (with Shrimp, Crab Meat and Squid	12.95
Chow Fun
Chow Fun style is made with flat Rice Noodle
Items marked with * are the Chef's Recommendation
Vegetable	7.95
Chicken	8.95
Roast Pork	8.95
Beef*	10.95
Shrimp	10.95
House (with Chicken, Roast Pork and Shrimp)	11.95
Seafood (with Shrimp, Crab Meat and Squid)	12.95
Sweet and Sour
Sweet and Sour style is served with White Rice.
Chicken	8.95 (Chef's Recommendation)
Pork	8.95
Shrimp	10.95
Kung Pao
Kung Pao style is a spicy stir-fry dish topped with Peanuts and served with White Rice.
Specify the level of spiciness from 1 to 5; 1 is not spicy, 5 is extra spicy.
Fried Tofu	7.95
Chicken	8.95 (Chef's Recommendation)
Roast Pork	8.95
Beef	9.95
Shrimp	10.95
Szechuan
Szechuan style is a red chili-based sauce stir fried with vegetables and served with white rice.
Specify the level of spiciness from 1 to 5; 1 is not spicy, 5 is extra spicy.
Chicken	8.95 (Chef's Recommendation)
Roast Pork	8.95
Beef	9.95
Shrimp	10.95
Mongolian
Mongolian Style is served with White Rice.
Specify the level of spiciness from 1 to 5; 1 is not spicy, 5 is extra spicy.
Chicken	8.95
Roast Pork	8.95
Beef	9.95 (Chef's Recommendation)
Shrimp	10.95
Hunan
Hunan style is a Dark Soy Sauce-based stir fried with Vegetables and served with White Rice
Specify the level of spiciness from 1 to 5; 1 is not spicy, 5 is extra spicy.
Chicken	8.95
Roast Pork	8.95
Beef	9.95
Shrimp	10.95
Broccoli with Garlic Sauce
Broccoli with Garlic Sauce style is served with White Rice.
Broccoli with Garlic Sauce	8.95
Chicken with Broccoli	8.95
Roast Pork with Broccoli	8.95
Beef with Broccoli*	9.95 (Chef's Recommendation)
Shrimp with Broccoli	10.95
Sesame
Sesame style is served with White Rice.
Sesame Chicken	10.95 (Chef's Recommendation)
Sesame Beef	11.95
Sesame Shrimp	12.95
Chef's Specials
Chef's Special Dishes are served with White Rice.
General's Chicken	10.95 (Chef's Recommendation)
Lemon Chicken	10.95
Orange Chicken	10.95
Orange Shrimp	12.95
Happy Family	14.95
*(Chicken, Beef, Shrimp, Roast Pork with mixed vegetables in a brown sauce)
Four Seasons	14.95
*(Chicken, Beef, Shrimp, and Roast Pork with mixed vegetables in a brown sauce)
Triple Crown	13.95
*(Chicken, Beef and Shrimp with mixed vegetables in a brown sauce)
Lover's Delight 	14.95
*(Two dishes in one, Hunan Beef and General's Chicken)
Salt and Pepper Squid	14.95
*(Cantonese style Calamari)
Salt and Pepper Shrimp	14.95
Dragon and Phoenix 	14.95 (Chef's Recommendation)
*(Two dishes in one, General's Chicken and Hot and Spicy Shrimp)
Seafood Pan Fried Noodles	17.95
*(Shrimp, Scallops, Crab Meat and Squid with  Mixed Vegetables on top of Crispy Pan Fried Noodles in a brown sauce)
Twin Cities Hunan Style	16.95
*(Shrimp and Scallops stir-fry with Mixed Vegetables Hunan Style)
Seafood Delight	17.95
Shrimp, Scallops, Crab Meat and Squid stir fried with Mixed Vegetables
Seven Stars	16.95
Chicken, Roast Pork, Crab Meat and Mixed Vegetables topped with seven Jumbo Fried Shrimp
Pad Thai
Pad Thai is rice noodles stir fried with eggs, bean sprouts, green onions, garlic and topped with roasted ground peanuts.
Fried Tofu	8.95
Chicken	9.95 (Chef's Recommendation)
Roast Pork	9.95
Beef	10.95
Shrimp	11.95
Cashew
Cashew style is stir fried with Vegetables topped with Cashews and served with White Rice.
Chicken	8.95 (Chef's Recommendation)
Roast Pork	8.95
Beef	9.95
Shrimp	10.95
Curry
Curry style is served with white rice.
Fried Tofu	8.95
Chicken	8.95 (Chef's Recommendation)
Roast Pork	8.95
Beef	9.95
Shrimp	10.95
Veggie Delight
Veggie Delight is brown sauce stir fried Vegetables served with White Rice.
Vegetable Delights	8.95
*(Mixed Vegetables: Broccoli, carrots, green/red peppers, onions, mushrooms)
Tofu and Mixed Vegetables	8.95
General TOFU	8.95
(Deep fried Tofu in our signature sweet and tangy General sauce)
***Substitutions are subject to additional charges***
***Adjust your spice level from 1 - 5 (1 = no spicy, 5 = extra spicy)***



    </div>

  </body>
</html>
