<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <!-- VENDOR SOURCE SCRIPTS -->


    <!-- VENDOR LINKS -->


    <!-- STYLESHEETS -->
    <link rel='stylesheet' href='../styles/normalize.css'>
    <link rel='stylesheet' href='../styles/main.css'>

    <title>Asian Hon</title>
  </head>


  <body>
    <!-- START .header -->
    <div class='header'>

      <!-- START .title -->
      <div class='title'>
        <a href='index.html'><h1>Asian Hon</h1></a>
      </div>
      <!-- END .title -->

      <!-- START .nav-wrapper -->
      <div class='nav-wrapper'>
        <!-- START .nav -->
        <div class='nav'>
          <ul class='nav-top'>
            <li><a href='../../index.html'>Home</a></li>
            <li><a href='#'>Pick-up/Dine-in Menu</a></li>
            <li>Delivery Menu</li>
            <li><a href='#'>Catering</a></li>
            <li><a href='#'>Contact</a></li>
          </ul>
        </div>
        <!-- END .nav-top -->
      </div>
      <!-- END .nav-warpper -->

    </div>
    <!-- END .header -->

    <div class='content menu'>
      <h2>Delivery Menu</h2>
      <h4>Delivery Subject to Availability and following Restrictions:</h4>
      <ul>
        <li>Minimum of $20 order, and;</li>
        <li>Only within Shakopee, and</li>
        <li>Within 2-mile radius of restaurant.</li>
      </ul>

<!-- START .menu -->
<div class='menu'>
  <!-- START table .beverages -->
  <table class='beverages'>
    <thead>
      <tr>
        <th><h4>Beverages</h4></th>
      </tr>
      <tr>
        <td>All beverages for delivery orders are soft drinks in 20 fl. oz. bottles.<br>The following are the beverages available for delivery:</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pepsi</td>
        <td>Mist Twist</td>
      </tr>
      <tr>
        <td>Diet Pepsi</td>
        <td>Orange Crush</td>
      </tr>
      <tr>
        <td>Mountain Dew</td>
        <td>Lemon Iced Tea</td>
      </tr>
      <tr>
        <td>Dr. Pepper</td>
        <td>Lemonade</td>
      </tr>
    </tbody>
  </table>
  <!-- END table .beverages -->



  <!-- START table .appetizers -->
  <table class='appetizers'>
    <thead>
      <tr>
        <th><h4>Appetizers</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class='menu-item'>Chicken Nuggets (10)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$3.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Cream Cheese Wontons (6)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$3.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Egg Rolls (2)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$3.95</td>
      </tr>
      <tr>
        <td class='menu-item'>French Fries</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$3.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Fried Onion Rings</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$3.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Fried Spring Rolls (2)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$3.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Fried Sweet Doughnuts (10)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$3.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Fried Scallops (8)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$4.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Fried Shrimp (6)</td>
        <td class='price-pt'> </td>
        <td class='price-qt'>$4.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Fried Tofu</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$4.95</td>
      </tr>
      <tr>
        <td class='menu-item'>BBQ Pork</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$5.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Chicken Wings (6)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$5.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Fried Dumplings (6)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$5.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Steamed Dumplings (6)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$5.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Teriyaki Chicken Wings (6)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$5.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Teriyaki Beef (4)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$6.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Teriyaki Chicken (4)</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$6.95</td>
      </tr>
    </tbody>
  </table>
  <!-- END table .appetizers -->

  <!-- START table .fried-rice -->
  <table class='fried-rice'>
    <thead>
      <tr>
        <th><h4>Fried Rice</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class='menu-item'>Vegetable</td>
        <td class='price-pt'>$3.95</td>
        <td class='price-qt'>$7.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Chicken</td>
        <td class='price-pt'>$4.95</td>
        <td class='price-qt'>$8.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Roast Pork</td>
        <td class='price-pt'>$4.95</td>
        <td class='price-qt'>$8.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Beef</td>
        <td class='price-pt'>$5.95</td>
        <td class='price-qt'>$9.95</td>
      </tr>
      <tr>
        <td class='menu-item'>Shrimp</td>
        <td class='price-pt'>$5.95</td>
        <td class='price-qt'>$9.95</td>
      </tr>
      <tr>
        <td class='menu-item'>House</td>
        <td class='price-pt'>$5.95</td>
        <td class='price-qt'>$10.95</td>
      </tr>
      <tr>
        <td>With Chicken, Roast Pork and Shrimp.</td>
      </tr>
      <tr>
        <td class='menu-item'>Thai Pineapple</td>
        <td class='price-pt'>$5.95</td>
        <td class='price-qt'>$10.95</td>
      </tr>
      <tr>
        <td class='item-description'>With Chicken and Shrimp.</td>
      </tr>
    </tbody>
  </table>
  <!-- END table .fried-rice -->

  <!-- START table .lo-mein -->
  <table class='lo-mein'>
    <thead>
      <tr class='tbl-title'>
        <th class='tbl-category'>Lo Mein</th>
      </tr>
      <tr class='tbl-description'>
        <td class='category-description'>Lo Mein style is made with soft noodles.</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Plain</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$6.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Vegetable</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$7.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Chicken</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$8.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Roast Pork</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$8.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Beef</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$9.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>Shrimp</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$10.95</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'>House with Chicken, Roast Pork and Shrimp</td>
        <td class='price-pt'></td>
        <td class='price-qt'>$10.95</td>
      </tr>
      <tr>
        <td class='item-description'>with Chicken, Roast Pork and Shrimp</td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'></td>
        <td class='price-pt'></td>
        <td class='price-qt'></td>
      </tr>
      <tr>
        <td class='chef-rec'></td>
        <td class='menu-item'></td>
        <td class='price-pt'></td>
        <td class='price-qt'></td>
      </tr>
    </tbody>
  </table>
  <!-- END table .lo-mein -->

</div>






    </div>

  </body>
</html>
