<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <!-- VENDOR SOURCE SCRIPTS -->


    <!-- VENDOR LINKS -->


    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">



    <!-- STYLESHEETS -->
    <link rel='stylesheet' href='../styles/normalize.css'>
    <link rel='stylesheet' href='../styles/main.css'>
    <link rel="stylesheet" href="../styles/menu.css">



    <title>Asian Hon</title>
  </head>


  <body>
    <!-- START .header -->
    <div class='header'>

      <!-- START .title -->
      <div class='title'>
        <a href='index.html'><h1>Asian Hon</h1></a>
      </div>
      <!-- END .title -->

      <!-- START .nav-wrapper -->
      <div class='nav-wrapper'>
        <!-- START .nav -->
        <div class='nav'>
          <ul class='nav-top'>
            <li><a href='../../index.html'>Home</a></li>
            <li><a href='#'>Pick-up/Dine-in Menu</a></li>
            <li>Delivery Menu</li>
            <li><a href='#'>Catering</a></li>
            <li><a href='#'>Contact</a></li>
          </ul>
        </div>
        <!-- END .nav-top -->
      </div>
      <!-- END .nav-warpper -->

    </div>
    <!-- END .header -->

      <h2>Delivery Menu</h2>
      <div class="cater-lead">
        <h4>Meeting &bull; Event &bull; Gathering <br> Asian Hon can help cater your next event!</h4>
          <h5></h5>
          <h5>Our party trays are the perfect solution for your next meeting, event or gathering!</h5>


      </div>



<!-- START .menu -->
<div class="menu-body">
  <!-- START COLUMN 1 -->
  <div class="column">

    <div class="menu-div appetizer-div">
      <h4 class='dish-style'>Appetizers</h4>
      <!-- START ul.appetizers -->
        <ul class="leaders">
          <li><span class='dish'>Egg Rolls<i class="dish-desc"> (12)</i></span><span>20.00</span></li>
          <li><span class='dish'>Cream Cheese Wontons<i class="dish-desc"> (36)</i></span><span>20.00</span></li>
          <li><span class='dish'>Fried Chicken Wings<i class="dish-desc"> (25)</i></span><span>20.00</span></li>
          <li><span class='dish'>Pan-Fried Dumplings<i class="dish-desc"> (25)</i></span><span>20.00</span></li>
          <li><span class='dish'>Steamed Dumplings<i class="dish-desc"> (25)</i></span><span>20.00</span></li>
          <li><span class='dish'>Fried Sweet Doughnuts<i class="dish-desc"> (30)</i></span><span>10.00</span></li>
        </ul>
      <!-- END ul.appetizers -->
    </div>

    <div class="menu-div main-course-div">
      <h4 class='dish-style'>Main Course Party Trays</h4>
      <!-- START ul.main-course -->
        <ul class="leaders">
          <li><span class='dish'>Fried Rice<i class="dish-desc"> &mdash; your choice of Vegetable, Chicken, Beef, Shrimp or Roast Pork</i></span></li>
          <li><span class='dish'>Lo Mein<i class="dish-desc"> &mdash; your choice of Vegetable, Chicken, Beef, Shrimp or Roast Pork</i></span></li>

          <li><span class='dish'>Sweet and Sour Chicken</span></li>

          <li><span class='dish'>Sesame Chicken</span></li>

          <li><span class='dish'>Kung Pao Chicken</span></li>

          <li><span class='dish'>Szechuan Chicken</span></li>

          <li><span class='dish'>Chicken with Broccoli</span></li>

        </ul>
      <!-- END ul.main-course -->
    </div>

    

</div>
<!-- END .menu -->


  </body>
</html>
