* {
  font-family: Helvetica, Arial, sans-serif;
}

.nav-wrapper {
  width: 100%;
  background-color: #D3D3D3;
  position: fixed;
  display: block;
}

.nav-top {
  list-style-type: none;
  /*position: fixed;*/
}

.nav-top>li {
  float: left;
}

.nav-top>li>a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
}

.nav-top>li>a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

h1 {
  font-family: Rokkitt, Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 700;
}
