* {
  font-family: Helvetica, Arial, sans-serif;
}

table, thead, tr, th, tbody, td {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: 1px black solid;
  text-align: left;
}

td {
  font-weight: : 400;
  font-size: 13px;
  line-height: 15px;
  color: #827762;
}

.nav-wrapper {
  width: 100%;
  background-color: #D3D3D3;
  position: fixed;
  display: block;
}

.nav-top {
  list-style-type: none;
  /*position: fixed;*/
}

.nav-top>li {
  float: left;
}

.nav-top>li>a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
}

.nav-top>li>a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
