ul.leaders {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  font-weight: 400;
  font-size: 13px;
  color: #3f454d;
  line-height: 18px
}

ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
}

ul.leaders span:first-child {
  padding-right: 0.33em;
  background: white
}

ul.leaders span+span {
  float: right;
  padding-left: 0.33em;
  background: white
}

.description {
  list-style: none;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  color: #3f454d;
  line-height: 18px;
  margin-left: 15px;
  margin-bottom: 5px;
}

h4 {
  margin-bottom: 0;
}

.chef-rec {
  height: 16px;
  width: 16px;
  vertical-align: bottom;
}

.menu-div {
  width: 70%;
  margin: 0 20%;
}
