/*ul.leaders {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  font-weight: 400;
  font-size: 13px;
  color: #3f454d;
  line-height: 18px;
  margin-top: .4em;
}

ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
}

ul.leaders span:first-child {
  padding-right: 0.33em;
  background: white
}

ul.leaders span+span {
  float: right;
  padding-left: 0.33em;
  background: white
}*/

/* MENU BODY */

.menu-body {
  /*border: 2pt green solid;*/
  margin: 0 auto;
  width: 80%;
}

/* TWO COLUMN LAYOUT */

.column {
  float: left;
  width: 45%;
  padding: 5px;
  /*border: 1pt red solid;*/
  margin: 0 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* MENU DIV SECTIONS */

.menu-div {
  width: 95%;
  margin: 0 auto;
  border: 1pt black solid
}

.dish-style {
  margin: 0;
  font-size: 1.15em;
}

/**/

.dish-style-desc {
  font-weight: 500;
  font-size: 14px;
  font-style: italic;
  color: #3f454d;
  line-height: 18px;
  margin: 0;
  margin-left: .5em;
}

.chef-rec {
  height: 16px;
  width: 16px;
  vertical-align: bottom;
}

/* LEADERS */

ul.leaders {
  max-width: 100%;
  overflow-x: hidden;
  list-style: none;
  font-weight: 400;
  font-size: .85em;
  color: #3f454d;
  /*line-height: 18px;*/
  margin-top: .4em;
  /*border: 1pt black solid*/
}

ul.leaders li:after {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
}

ul.leaders span:first-child {
  padding-right: 0.33em;
  background: white
}

ul.leaders span+span {
  float: right;
  padding-left: 0.33em;
  background: white;
  position: relative;
  z-index: 1
}

.dish {
  font-weight: 600;
}

.dish-desc {
  font-weight: 500;
  font-size: .9em;
}

ul.leaders li {
  margin-bottom: .6em;
  /*border: 1pt blue solid*/
}

/* IMAGES */

img {
  height: 10em;
  width: 10em;
}
