/* MENU BODY */

.menu-body {
  width: 65%;
  /*height: 100%;*/
  margin: 0 auto;
  /*border: 1px purple solid;*/
  border: 1pt black solid;
  border-radius: 10px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

/* TWO COLUMN LAYOUT */

.column {
  float: left;
  width: 50%;
  margin: 0 auto;
  /*padding: 5px;*/
  /*border: 1pt black solid;*/
  /*border-radius: 5px;*/
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* MENU DIV SECTIONS */

.menu-div {
  width: 97%;
  margin: 0 auto;
  margin-top: 5px;
  padding-right: 5px;
  /*border: 1pt black solid;
  border-radius: 10px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);*/
}

/* MENU DISH COOKING STYLE */

.dish-style {
  margin: 0;
  padding-left: 2px;
  font-size: 1.15em;
  color: #7A0309;
}

.dish-style-desc {
  margin: 0;
  margin-left: .5em;
  line-height: 18px;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  color: #3f454d;
}

/* MENU ITEMS */

.chef-rec {
  height: 16px;
  width: 16px;
  vertical-align: bottom;
  margin-left: -1.4em;
}

.dish {
  font-weight: 600;
}

.dish-desc {
  font-weight: 500;
  font-size: .9em;
}

/**** LEADERS ****/

ul.leaders {
  max-width: 100%;
  overflow-x: hidden;
  list-style: none;
  font-size: .85em;
  font-weight: 400;
  color: #3f454d;
  /*line-height: 18px;*/
  margin-top: .4em;
  /*border: 2pt green solid*/
}

ul.leaders li:after {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
}

ul.leaders span:first-child {
  /*padding-right: 0.33em;*/
  background: white
}

ul.leaders span+span {
  float: right;
  /*padding-left: 0.33em;*/
  background: white;
  position: relative;
  z-index: 1
}

ul.leaders li {
  margin-bottom: .6em;
  margin-left: -1.55em;
  /*padding: 0;*/
  /*max-width: 100%;*/
  /*border: 1pt blue solid*/
}

/* IMAGES */

img {
  height: 10em;
  width: 10em;
}

li {
  margin-left: 0;
  padding: 0;
  margin: 0 auto;
}
